.join-player-nav-button {
	position: absolute;
	height: 48px;
	width: 48px;
	top: 50%;
	left: 50%;
	display: none;
	opacity: .3;
	color: rgb(16, 16, 16);
	background-color: transparent;
}

.join-player-nav-button.active {
	cursor: pointer;
	opacity: 1;
	pointer-events: all;
}

.join-player-nav-button.next {
	transform: translate3D(calc(69/116 * 50vh + 65px - 50%), -50%, 100vw);
}

.join-player-nav-button.previous {
	transform: translate3D(calc(-69/116 * 50vh - 65px - 50%), -50%, 100vw) rotate(180deg);
}

@media (min-aspect-ratio:3 / 4) and (max-height:756px) {
	.join-player-nav-button.next {
		transform: translate3D(calc(69/116 * 50vh + 100px - 50%), -50%, 100vw);
	}

	.join-player-nav-button.previous {
		transform: translate3D(calc(-69/116 * 50vh - 100px - 50%), -50%, 100vw) rotate(180deg);
	}
}

@media (min-aspect-ratio:3 / 4) and (max-height:538px) {
	.join-player-nav-button.next {
		transform: translate3D(calc(69/116 * 50vh + 125px - 50%), -50%, 100vw);
	}

	.join-player-nav-button.previous {
		transform: translate3D(calc(-69/116 * 50vh - 125px - 50%), -50%, 100vw) rotate(180deg);
	}
}

@media screen and (min-aspect-ratio:3 / 4) {
	.join-story-player:not(:only-child) .join-player-nav-button {
		display: block;
	}
}