
/* Video Application */
.video_slideshow {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-thumbnail-list {
    padding: 0; margin: 0;
    display: flex; 
  }
  .video-thumbnail-list-item {
    list-style: none;
    cursor: pointer;
  }
  .video-thumbnail-list-item > div {
    margin: 0 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .video-thumbnail-icon {
    position: relative;
  }
  .video-thumbnail-icon > div {
    display: inline-block;
    position: relative;
  }
  .video-thumbnail-text {
    text-align: center;
  }
  .video-thumbnail-text span {
    display: flex;
    line-height: 1em;
  }
  .join-bubble {
    overflow: visible;
    width: 90px;
    height: 90px;
    display: inline-block;
    margin-top: 2px; 
  }
  .cover {
      position: absolute;
      top: 7px;
      left: 5px;
      height: calc(90px - 10px);
      width: calc(90px - 10px);
      border-radius: 50%;
      overflow: hidden;
      margin: 0!important;
  }
  .play-button {
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% + 2px);
      transform: translate(-50%,-50%);    
  }

  .i-amphtml-story-close-control {
    display: block !important;
  }

  .btn-close-shorts {
    position: absolute;
    z-index: 99999;
    height: 48px;
    width: 48px;
    cursor: pointer;
    border: none;
    pointer-events: auto;
    background: none;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none"><rect width="1.84" height="18.84" x="16.68" y="18" fill="%23fff" rx=".92" transform="rotate(-45 16.68 18)"/><rect width="1.84" height="18.84" x="30" y="16.7" fill="%23fff" rx=".92" transform="rotate(45 30 16.7)"/></svg>');
    right: 25%;
    top: 5%;
  }

  @media screen and (min-width: 1200px) {
    .btn-close-shorts {
      
    }
  }